In [1]:
from Player import Player
from GamePlay import GamePlay

In [2]:
a = Player()

In [3]:
training = GamePlay(a)
for _ in range(100000):
    training.play()

In [9]:
a.df_0["reward_X"].value_counts()

0.621559    1
Name: reward_X, dtype: int64

In [14]:
a.df_1

,0,1,2,3,4,5,6,7,8,reward_X,successor_O,game_over
0,,,,,,,,,X,0.150200,"[0, 2, 6, 12, 20, 30, 42, 56]",False
1,,,,,,,,X,,-0.107422,"[1, 3, 7, 13, 21, 31, 43, 57]",False
2,,,,,,,X,,,0.147113,"[4, 5, 8, 14, 22, 32, 44, 58]",False
3,,,,,,X,,,,0.105706,"[9, 10, 11, 15, 23, 33, 45, 59]",False
4,,,,,X,,,,,0.621120,"[16, 17, 18, 19, 24, 34, 46, 60]",False
5,,,,X,,,,,,0.086731,"[25, 26, 27, 28, 29, 35, 47, 61]",False
6,,,X,,,,,,,0.172188,"[36, 37, 38, 39, 40, 41, 48, 62]",False
7,,X,,,,,,,,0.001268,"[49, 50, 51, 52, 53, 54, 55, 63]",False
8,X,,,,,,,,,0.084511,"[64, 65, 66, 67, 68, 69, 70, 71]",False

In [17]:
a.df_3.head()

,0,1,2,3,4,5,6,7,8,reward_X,successor_O,game_over
0,,,,,,,O,X,X,-0.262822,"[0, 6, 30, 90, 210, 420]",False
1,,,,,,,X,O,X,-0.021753,"[1, 7, 31, 91, 211, 421]",False
2,,,,,,,X,X,O,-0.343945,"[2, 8, 32, 92, 212, 422]",False
3,,,,,,O,,X,X,-0.095411,"[0, 9, 33, 93, 213, 423]",False
4,,,,,,O,X,,X,0.178768,"[1, 10, 34, 94, 214, 424]",False
5,,,,,,O,X,X,,0.017839,"[2, 11, 35, 95, 215, 425]",False
6,,,,,,X,,O,X,-0.095316,"[3, 12, 36, 96, 216, 426]",False
7,,,,,,X,,X,O,0.029947,"[4, 13, 37, 97, 217, 427]",False
8,,,,,,X,O,,X,0.943725,"[3, 14, 38, 98, 218, 428]",False
9,,,,,,X,O,X,,-0.114511,"[4, 15, 39, 99, 219, 429]",False
10,,,,,,X,X,,O,0.014158,"[5, 16, 40, 100, 220, 430]",False
11,,,,,,X,X,O,,-0.054308,"[5, 17, 41, 101, 221, 431]",False
12,,,,,O,,,X,X,-0.617673,"[6, 9, 42, 102, 222, 432]",False
13,,,,,O,,X,,X,0.166714,"[7, 10, 43, 103, 223, 433]",False
14,,,,,O,,X,X,,-0.327102,"[8, 11, 44, 104, 224, 434]",False
15,,,,,O,X,,,X,-0.266201,"[12, 14, 45, 105, 225, 435]",False
16,,,,,O,X,,X,,-0.222768,"[13, 15, 46, 106, 226, 436]",False
17,,,,,O,X,X,,,-0.123212,"[16, 17, 47, 107, 227, 437]",False
18,,,,,X,,,O,X,0.530058,"[18, 21, 48, 108, 228, 438]",False
19,,,,,X,,,X,O,0.628227,"[19, 22, 49, 109, 229, 439]",False
20,,,,,X,,O,,X,0.518179,"[18, 23, 50, 110, 230, 440]",False
21,,,,,X,,O,X,,0.544045,"[19, 24, 51, 111, 231, 441]",False
22,,,,,X,,X,,O,0.453417,"[20, 25, 52, 112, 232, 442]",False
23,,,,,X,,X,O,,0.477351,"[20, 26, 53, 113, 233, 443]",False
24,,,,,X,O,,,X,0.476937,"[21, 23, 54, 114, 234, 444]",False
25,,,,,X,O,,X,,0.764248,"[22, 24, 55, 115, 235, 445]",False
26,,,,,X,O,X,,,0.467670,"[25, 26, 56, 116, 236, 446]",False
27,,,,,X,X,,,O,0.546929,"[27, 28, 57, 117, 237, 447]",False
28,,,,,X,X,,O,,0.726233,"[27, 29, 58, 118, 238, 448]",False
29,,,,,X,X,O,,,0.547479,"[28, 29, 59, 119, 239, 449]",False